extends ../layout/layout

block content
  .wrap
    form(action="/admin/edit/#{list._id}" method="post")
      .form-group
        label
          span title
          input.input(type="text" name="title" value="#{list.title}")
      .form-group
        label
          span name
          input.input(type="text" name="name" value="#{list.name}")
      .form-group
        input.btn.btn-primary(type="submit" value="保存")