extends ../layout/layout

block content
  .wrap
    form(action="/admin/new" method="post")
      .form-group
        label
          span title
          input.input(type="text" name="title" value="")
      .form-group
        label
          span name
          input.input(type="text" name="name" value="")
      .form-group
        input.btn.btn-primary(type="submit" value="保存")