font-size-base  =         14px
font-size-small =         ceil((font-size-base * .85))
font-size-large =         ceil((font-size-base * 1.25))
gray-base       =         #000
gray-darker     =         lighten(gray-base, 20%) // #333
gray-dark       =         lighten(gray-base, 40%)   // #666
gray            =         lighten(gray-base, 60%) // #999
gray-light      =         lighten(gray-base, 80%) // #ccc
gray-lighter    =         lighten(gray-base, 93.5%) // #eee
gray-lightest   =         lighten(gray-base, 96%) // #eee

brand-primary   =         #5bb3d4;
brand-success   =         #5cb85c;
brand-info      =         #5bc0de;
brand-warning   =         #f0ad4e;
brand-danger    =         #d9534f;
brand-white     =         #fff;

header-height   =         50px;