.header.clearfix
  .wrap
    ul.nav.nav-list
      li.menu
        a(href="/") 首页
      -if(state)
        li.menu
          a(href="/admin") 后台
        li.menu
          a(href="/quit") 退出
      -else
        li.menu
          a(href="/login") 登录