doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/require.js")
    script(src="/javascripts/qnUpload.js")
  body
    include header
    block content