extends ../layout/layout

block content
  .wrap
    table.table
      thead
        tr
          th title
          th name
      tbody
        each item in list
          tr
            td= item.title
            td= item.name