extends ../layout/layout

block content
  .wrap.clearfix
    include ../layout/aside
    .main
      ul.list.clearfix
        each item in list
          li.item
            a.block(href="/page/#{item._id}")
              h1.title= item.title
              .summary= item.summary
              span.author 作者：#{item.author}
              span.time
                - if (item.update)
                  = item.update
                - else
                  = item.creat